<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>京东商城用户注册</title>
    <style>
        div{
            width: 12%;
            height: 22px;
            border: aqua;
        }
    </style>
</head>
<body>
<form action="/index1" method="post">
    <b style="font-size: 34px">京东商城用户注册界面</b>
    <p><input type="text" name="username" placeholder="用户名"></p>
    <p><input type="password" name="password" placeholder="密码"></p>
    <p><input type="password" name="repassword" placeholder="确认密码"></p>
    <p><input type="submit" value="注册"></p>
</form>
</body>
</html>
